body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form p {
	margin-top:10px;
}

img.flag {
	width: 15px;
	height: 15px;
	margin-right:5px;
}

.container-separated-items {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.container-vertically-aligned {
	display: flex;
	align-items: center;
}

#languagesDemanded, #languagesOffered {
	max-height: 300px;
	overflow-y: scroll;
}

img.little-profile {
	height: 100px;
}

.separated-block {
	display: block;
	margin-bottom: 10px;
}

.list-group-item {
	margin-bottom: -2px;
}

.navbar-nav > li > a:last-child {
	padding-right: 0;
}

p {
	white-space:pre-line;
}

.links a{
	margin-left:10px;
}

.navbar {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 1000;
}

.container-body {
	margin-top:80px;
}