<!DOCTYPE html>
<html>
  <head>
    <title>IdiomHack</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
		<nav class="navbar navbar-default">
		  <div class="container">
			<div class="navbar-header">
				<% if(isUserLoggedIn) { %>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				<% } %>

				<a class="navbar-brand" href="/">IdiomHack</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<% if(isUserLoggedIn) { %>
						<% if(currentUser.role === 'Admin') { %>
							<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Admin Menu <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/languages">Languages</a></li>
								<li><a href="#">Events</a></li>
							</ul>
						</li>
						<% } %>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Menu <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/dashboard">Dashboard</a></li>
								<li><a href="/relations">My contacts</a></li>
								<li><a href="/profile/search">Search new contacts</a></li>
								<li><a href="#">My conversations</a></li>
								<li><a href="/profile/<%= currentUser._id %>">My public profile</a></li>
							</ul>
						</li>
						<li><a href="/logout">Log out</a></li>
					<% } %>
				</ul>
			</div>
		  </div>
		</nav>  
	  <div class="container container-body">
		<% if(message) { %> 
			<div class="alert alert-danger">
				<%= message %>
			</div>
		<% } %>
		<%- body %>
	  </div>
  </body>
</html>